/* App.css */
.App {
  text-align: center;
  overflow-x: hidden;
}

.hero-section {
  background-color: #f9f9f9;
  padding: 50px 0;
  height: 82vh;
  background-color: yellowgreen;
  background-image: url(./Assets/img/HeroPage.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-text{
  margin-top: 150px;
}
.hero-text p{
  font-family: 'Poppins', sans-serif;
    font-weight: 200;
}